.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.content{
    width: 60%;
    background-color: rgb(205 205 205 / 44%);
    border-radius: 5px;
    padding: 15px;
}

.list a{
    width: 40%;
    color: black;
}

.card{
    height: 210px;
}

.card div{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}