.user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.user button {
  margin-right: 10px;
}

.buttonUpdate{
  width: 60px;
  height: 25px;
  background-color: rgb(60, 228, 60);
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}