20_lesson/hw/built/
20_lesson/hw/node_modules
22_lesson/dist/
22_lesson/node_modules
24_lesson/my-app/node_modules
25_lesson/my-app/node_modules
26_lesson/my-app/node_modules
27_lesson/my-app/node_modules
28_lesson/first/my-app/node_modules
28_lesson/second/my-app/node_modules
29_lesson/first/my-app/node_modules
29_lesson/second/my-app/node_modules
30_lesson/my-app/node_modules
31_lesson/my-app/node_modules
32_lesson/my-app/node_modules
32_lesson/back/node_modules
33_lesson/my-app/node_modules