.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerNav{
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}