.btn{
    width: 150px;
    height: 75px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: inset -3px -3px #666;
    
}

.btn:active{
    box-shadow: 0 2px #666;
    transform: scale(0.98);
    
}